.container {
    height: 100%;
}

.center-input {
    position: absolute;
    top:40%;
    bottom: 50%;
    width: 50%;
    display: block;
    max-width: 1280px;
    transform: translate(50%);
    margin: 0 auto;
}

.m-t-30 {
    margin-top: 30px;
}

.mybtn {
    transform: translate(10%, 10%);
}

.card-content {
    text-align: center;
}
.message-box {
    height: 300px;
    margin-top: 45px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
.phase-shower {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 500px;
}
.phase-shower .row {
    margin: 0px;
}

@media (max-width: 600px) {
    .message-box {
        height: 50px;
    }
    .phase-shower {
        position: fixed;
        top: 10px;
        left: 5px;
        width: 500px;
    }
    h4 {
        pointer-events: none;
    }
    a {
        pointer-events: auto;
        display: block;
    }
    form .row .col {
        display: inline;
        position: relative;
    }
    form .row .col.s3 {
        width: 100%;
    }
    form .row .col.s2 {
        width: 100%;
    }
    form .row .col.s1 {
        width: 100%;
    }
    .row .col.s12 {
        width: 100%;
    }
    .mybtn {
        transform: translate(0);
        width: 100%;
    }

}

.message-box p {
   vertical-align: bottom;
}

.operator {
    text-align: center;
    font-size: 30px;
}

.message {
    vertical-align: bottom;
    display: table-cell;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}