.container {
    height: 100%;
}

.center-input {
    position: absolute;
    top:40%;
    bottom: 50%;
    width: 50%;
    display: block;
    max-width: 1280px;
    transform: translate(50%);
    margin: 0 auto;
}

.m-t-30 {
    margin-top: 30px;
}

.mybtn {
    transform: translate(10%, 10%);
}

.card-content {
    text-align: center;
}
.message-box {
    height: 300px;
    margin-top: 45px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
.phase-shower {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 300px;
}
.phase-shower .row {
    margin: 0px;
}

@media (max-width: 600px) {
    .phase-shower {
        position: fixed;
        bottom: 10px;
        left: 5px;
        width: 300px;
    }
}

.message-box p {
   vertical-align: bottom;
}

.operator {
    text-align: center;
    font-size: 30px;
}

.message {
    vertical-align: bottom;
    display: table-cell;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}